:root{
    --main-radius:0.5rem;
    --color-red90:#e72727;
    --color-red50:#e09494;
    --color-red30:#edcdcd;
    --color-blue1:#e6f7ff;
    --color-blue2:#bae7ff;
    --color-blue3:#91d5ff;
    --color-blue4:#69c0ff;
    --color-blue5:#40a9ff;
    --color-blue6:#1890ff;
    --color-blue7:#096dd9;
    --color-blue8:#0050b3;
    --color-blue9:#003a8c;
    --color-blue10:#002766;
}

:root{
    --background-default:var(--color-red90);
    --background-dark:var(--color-red30);
    --color-brand:var(--color-blue6);
    --color-selected:var(--color-blue1);
    --color-hover:var(--color-blue5);
    --color-normal:var(--color-blue10);
    --color-click:var(--color-blue7);
    --color-link:var(--color-blue8);
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 15rem 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 3fr 4rem;
    grid-template-areas: "nav nav nav nav nav nav"
    "sidebar text text text text text"
    "sidebar content1 content2 content3 content4 content5"
    "sidebar footer footer footer footer footer";

    grid-gap: 0.5rem;
    font-weight: 800;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}
.container *{
    padding-top: 1rem;
}
nav{
    background: #1E78FF;
    grid-area: nav;
    border-radius: var(--main-radius);
}
.text{
    background: #5598FD;    
    grid-area: text;
    border-radius: var(--main-radius);
}
.sidebar{
    background:var(--color-brand);
    grid-area: sidebar;
    border-radius: var(--main-radius);
}
.card{
    background: var(--color-normal);
    border-radius: var(--main-radius);
}
#content1{
    grid-area: content1;
}
#content2{
    grid-area: content2;
}
#content3{
    grid-area: content3;
}
#content4{
    grid-area: content4;
}
#content5{
    grid-area: content5;
}
footer{
    background: #5598FD;
    grid-area: footer;
    border-radius: var(--main-radius);
}

@media only screen and (max-width:80rem){
    .container{
        grid-template-columns: 0.4fr 1fr 1fr;
        grid-template-rows: 4rem 1fr 1fr 1fr 4rem;
        grid-template-areas: "nav nav nav"
        "sidebar text text"
        "sidebar content1 content2"
        "sidebar content3 content4"
        "sidebar footer footer";
    }
    #content5{
        display: none;
    }
}

@media only screen and (max-width:40rem){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4remr;
        grid-template-areas: "nav"
        "sidebar"
        "text"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "footer"

    }
    #content5{
        display: initial;
    }
}
